@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

#header{
    position: sticky;
    top:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    background-color: rgba(127, 255, 212, 0.381);
    border-radius: 50px;
    margin:20px;
}

#header a{
    color:black;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#header a:hover{
    color:red;
}

#loader{
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    gap:40px;
    justify-content: center;
    background-color: black;
}

#circle{
    height:50px;
    width:50px;
    border-radius: 50px;
    border:5px solid grey;
    border-top:5px solid white;
    animation:circle 2s linear infinite; 
}


@keyframes circle{
    from{
        transform:rotate(0deg);
    }to{
        transform:rotate(360deg);
    }
}

#home,#aboutme,#skills,#projects,#contactme{
    height:100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

#home{
    background:transparent;
    gap: 20px;
}

#home-display{
    text-align: center;
    border-radius: 50px;
    border:2px solid black;
    height:40px;
    background-color: rgba(127, 255, 212, 0.381);
}

#home-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
    flex-direction: column;
    padding:20px;
    width:80vw;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.381);
}


#vid{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#footer{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color:black;
    background-color: whitesmoke;
    padding:20px;
    border-radius: 50px;
    margin:20px;
}


#skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:80px;
    width:100%;
    background-color:rgba(255, 255, 255, 0.381) ;
}

.skill-bar{
    width:25vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap:40px;
    background-color: rgba(255, 255, 255, 0.761);
    border-radius: 50px;
}

.skill-bar:hover{
    transform: translateY(-10px);
    background-color:  rgba(255, 255, 255, 0.561);
}
.contactme-img{
    width:64px;
    height:64px;
}

#contactme{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23c8ff6f;
}

#contactme-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #7cc6fe88;
    width:40vw;
    height:30vh;
    border-radius: 50px;
}


#home-text{
    font-size: 60px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid black;
    width: 0;
    animation: typing 4s steps(20) infinite,
               blink 0.7s step-end infinite;
}

@keyframes typing{
    0%{ width: 0 }
    50%{ width: 21ch }
    100%{width: 10ch}
}

@keyframes blink{
    50%{ border-color: transparent }
}

#home-para{
    font-size: 20px;
}

#aboutme{
    background-color: #1986a17d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap:20px;
}

#aboutme-pic{
    width:21vw;
    height:41vh;
    background-color: #1986a1af;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 50px;
}

#aboutme-text{
    width:40vw;
    height:40vh;
    background-color: #1986a1af;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    border-radius: 50px;
    line-height: 1.5rem;
}

span{
    font-weight: bold;
}

#mobile{
    display: none;
}

#aboutme-pic img{
    border-radius: 125px;
    width:256px;
    height:256px;
    border:5px solid black;
}

@media (max-width:480px){
    #body{
        background:transparent;
    }
    #home,#aboutme,#skills,#projects,#contactme,#header,#footer{
        display:none;
    }
    #mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height:100vh;
    }
}